* {
    /* outline: 1px solid red; */
}


h1{
    color: red;
    font-size: 50px;
}

.blueh1{
    color: blue;
    font-size: 80px;
}

#dad{
    color: green;
    font-size: 100px;
}

.quote  p {
    color: orange;
    font-style: italic;
}

.chris{
    color: orange;
    font-style: italic; 
}
input {
    padding: 20px;
    border-color: rebeccapurple;
}
input[type="text"] {
    border: none;
    border-bottom: 2px solid red;
}
input[type="submit"] {
    padding: 10px;
    color: white;
    background-color: green;
}
